/* fix padding under menu after resize */
@media screen and (max-width: 402px) {
    body { padding-top: 120px; }
    #img1{ display: none; }
}
@media screen and (min-width:403px) and (max-width: 767px) {
    body { padding-top: 90px; }
}
@media screen and (min-width:768px) and (max-width: 991px) {
    body { padding-top: 80px; }
}
@media screen and (min-width: 992px) {
    body { padding-top: 70px; }
}

#img1{
	width: 60px;
	height: 60px;
	margin-right: 20px;
}
.padding20{
	padding-top: 20px;
}

.logo{
	height: 50px;
	width: 50px;
	padding: 10px;
}

.ul-footer{
	list-style-type: none;
}

.form-style{
	margin: 12px;
}
.my-button{
	margin-left: 12px;
	margin-bottom: 10px;
}
.my-map{
	border: solid 1px silver;
	border-radius: 16px;
	height: 240px;
}

.img_car{
	padding-top: 10px;
	height: 400px;
}

.img_thumb{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-bottom: 10px;
}
.thumb_style{
	background-color: #d5ecfd;
	padding: 10px;
	border: solid 2px white;
}

.img_nosotros{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 10px;
}

.blog_ul{
	list-style-type: none;
}

.float-left{
	padding-right: 20px;
}

.skyblue{
	color: #2FA4E7;
}
footer{
	margin: 10px 20px 0px 20px;
}

